#w313 {
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    
    color: #272a3b;
    max-width: fit-content;
    position: absolute;
    left: 38%;
}
#header1 {
    background-color: #e6eaf3;
    border-bottom: 2px solid #272a3b;
    min-height: 90px;
}
#w311 {
    background-color: #e6eaf3;
    max-width: fit-content;
    float: left;
    font-size: 30px;
    padding-top: 20px;
}
#w31 {
    max-width: 1200px;
    margin:auto;
    position: relative;
    min-height: 90px;
}
#w312 {
    background-color: #e6eaf3;
    max-width: fit-content;
    float: right;
    font-size: 20px;
    padding-top: 8px;
    color: #272a3b;
}
#new_post {
    font-weight: 510;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    background-color: #e6eaf3;
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    border: 2px solid #272a3b;
    border-radius: 20px;
    top: 81%;
    left: 40%;
}
#x_on_new_post {
    position: absolute;
    top: -1%;
    left: 97%;
    text-decoration: none;
    font-weight: bold;font-size: 20px;
}
#new_post_form {
    border-radius: 20px;
    border: 2px solid #272a3b;
    background-color: #e6eaf3;
    width: 700px;
    position: absolute;
    left: 27%;
    top: 15%;
    display:none;
    z-index:2;
}
#new_post_title {
    border-radius: 5px;
    width: 640px;
    height: 40px;
}
input {
    padding: 7px;
}
textarea {
    padding: 7px;
}
#new_post_description {
    border-radius: 5px;
    width: 640px;
    height: 200px;
}
#post_picture {
    max-width: fit-content;
}
.spaceadded {
    padding-left: 20px;
}
#the_submit_button {
    border-radius: 10px;
    width: 640px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    font-family: "Exo 2", sans-serif;
    background-color: #272a3b;
    color: #eee8f6;
}
.w3-quarter {
    width: 50px;
    height: 70px;
}
#the_close_button {
    border-radius: 10px;
    width: 640px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    font-family: "Exo 2", sans-serif;
    background-color: #272a3b;
    color: #eee8f6;
}
.all_buttons:hover {
    background-color: #272a3b;
}
.all_buttons:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px 0px rgb(67, 88, 93);
}
.all_buttons {
  background-color: #272a3b;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  height: 42.6px;
  width: 150px;
  box-shadow: 0px 5px 0px 0px rgb(77, 115, 138);
}
#tl-username {
    border: none;
    color: #272a3b;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-weight: bold;
}
#search_bar {
    width: 800px;
    border-radius: 15px;
    border-width: 0.1px;
    font-size: 18px;
    z-index: 7;
}
#contains_search_contents {
    margin-left: 20%;
    margin-top: -1%;
    z-index: 6;
}
#new_post_div {
    margin: 0;
  position: absolute;
  top: 180%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#new_post_container {
    position: relative;
    padding-top: 30px;
}

#style_new_post {
    margin-left: 30%;
}
#submit_form {
    border-radius: 10px;
    width: 640px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    font-family: "Exo 2", sans-serif;
    background-color: #272a3b;
    color: #eee8f6;
    
}
.tag_container {
    float: left;
    justify-content: left;
    padding-left: 20px;
    width: 25%;
}
.toggle-button {
    background-color: #272a3b;
    box-shadow: 0px 3px 0px 0px rgb(77, 115, 138);
}
.toggle-button:active {
    background-color: red;
    transform: translateY(2px);
    box-shadow: 0px 2px 0px 0px rgb(67, 88, 93);
}